//*Theme*
// $ThemeColor:hsl(216, 20%, 95%) ;
$ThemeBackground: transparent;
$SecondaryThemeBackground: hsl(216, 20%, 95%);
$White: white;
$NavColor: hsl(240, 94%, 67%);

// $ThemeColor: hsl(216, 98%, 52%);
$ThemeSecondaryColor: hsl(216, 90%, 49%);
