@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Oswald&display=swap");

:root {
  --title-font: "Oswald", sans-serif;
  --content-font: "Open Sans", sans-serif;
}
@mixin prestyle-btn($borderinput: none, $backgroundClr: transparent) {
  border: $borderinput;
  background: $backgroundClr;
  outline: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
  font-size: 62.5%;
  background: rgb(17, 44, 69);
  background: linear-gradient(
    120deg,
    rgba(17, 44, 69, 1) 0%,
    rgba(73, 139, 201, 1) 100%
  );
}
::-webkit-scrollbar {
  display: none;
}
.App {
  height: 100vh;
  background: linear-gradient(180deg, #071136 0%, rgba(7, 17, 54, 0) 100%);
}
.HideApp {
  display: none;
}
.Sidebar {
  padding: 1em;
  z-index: 5;
  width: 60%;
  max-width: 15rem;
  left: -150%;
  height: 92%;
  position: fixed;
  background: lightsteelblue;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
  .User-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: seagreen;
    padding: 1em;
    a {
      img {
        border-radius: 50%;
        margin: 1.5em;
      }
    }
    h1 {
      margin: 0.25em;
      font-size: clamp(0.5rem, calc(0.5rem + 1.5vw), 1rem);
    }
  }
  button {
    @include prestyle-btn(5px solid transparent, none);
    margin: 1em;
    font-size: clamp(1.5rem, calc(0.5rem + 2vw), 1.7rem);
    padding: 0 1em;
    transition: all ease 0.35s;
    &:hover {
      border-left: 5px solid blue;
    }
  }
  .hey {
    margin-top: auto;
  }
  button:last-child {
    margin-top: auto;
  }
}

.SideBarDisplay {
  left: 0;
}

.Navbar {
  z-index: 100;
  width: 100%;
  background: black;
  padding: 5px;
  -webkit-box-shadow: 0px 9px 15px 8px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 9px 15px 8px rgba(0, 0, 0, 0.51);
  display: flex;
  justify-content: space-between;
  button {
    font-size: 2rem;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.25em;
    transform: scaleY(0.9);
    transition: all 0.25s ease;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.356);
    }
  }
}

.Container {
  width: 100;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100% 0fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0% 0%;
  grid-template-areas:
    "Searchbar Preview-container"
    "NoteList Preview-container";
  width: 100%;
  height: 100%;
}
.Preview-container {
  display: none;
  position: relative;
  grid-area: Preview-container;
  background: lightgreen;
  padding: 1em;
  .Preview-previewer {
    * {
      border: none;
    }
  }
  .preview-edit-btn {
    display: none;
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-size: 3rem;
    outline: none;
    border: none;
    padding: 0.5em 0.7em;
    border-radius: 50%;
  }
  .show {
    display: block;
  }
}
.Searchbar {
  background: lightpink;
  grid-area: Searchbar;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  input {
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    outline: none;
    width: clamp(30%, 50%, 50%);
    transition: all 0.35s ease;
    &:focus {
      box-shadow: none;
      width: 65%;
    }
  }
  button,
  svg {
    font-size: 2rem;
    background: none;
    outline: none;
    border: none;
    color: white;
    margin: 0 0.5em;
  }
  button {
    margin: 0 0.1em;
    cursor: pointer;
    padding-top: 0.1em;
    svg:hover {
      color: #066bc9;
    }
  }
}
.NoteList {
  grid-area: NoteList;
  background: lightgoldenrodyellow;
  width: 100%;
}
.Noteitem {
  position: relative;
  padding: 2em;
  margin: 2em;
  background: #066bc9;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 10rem;
  &:hover {
    filter: brightness(1.15);
  }

  .Noteitem-paragraph,
  .Noteitem-title,
  .Noteitem-time {
    pointer-events: none;
  }

  .Noteitem-title {
    color: white;
    font-size: 1.5rem;
  }
  .Noteitem-paragraph {
    color: white;
    overflow: hidden;
    height: 4rem;
    * {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  .Noteitem-time {
    margin: 0 0 0.5em 0;
    font-size: calc(1rem + 10%);
    color: white;
    flex: 0.25;
  }
}
.View {
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 200;
  top: 50%;
  right: 50%;
  transform: translate(150%, -50%);
  background: lightgrey;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  gap: 0% 0%;
  grid-template-areas:
    "ViewNavBar ViewNavBar"
    "Edit-Section Edit-Section";

  .Edit-Section {
    background: lightyellow;
    grid-area: Edit-Section;
  }
}
.slideshow {
  right: 150%;
}
.ViewNavBar {
  background: peru;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  grid-area: ViewNavBar;
  .Save-Note-btn {
    display: none;
  }
  .Save-Note-btn-show {
    display: block;
  }
  .menu-fist-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1,
    .trash,
    i {
      margin: auto;
    }
    h1 {
      font-size: 1.5rem;
    }
    .trash,
    i {
      font-size: 1.5rem;
    }
  }
  .dropdown-menu {
    //something
    background: white;
  }
  button {
    background: transparent;
    padding: 0.25em 0.5em;
    border: none;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.404);
    }
  }
}
.Loading {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 10em 10em;
  background: cornflowerblue;
  .icon {
    font-size: 1000%;
    animation: rotate 1s ease infinite;
    color: black;
  }
}
.show {
  display: block;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Edit-NoteView {
  grid-area: Edit-NoteView;

  .ql-editor {
    border: 0px solid white;
  }
  textarea {
    outline: none;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
  }
  .Edit-title,
  .Edit-Date {
    outline: none;
    font-size: calc(1rem + 1vw);
  }
  .Edit-title {
    grid-area: Edit-title;
    background: lightcoral;
    padding: 0.5em;
  }
  .Edit-Date {
    padding: 0.25em 0.5em;
    pointer-events: none;
    grid-area: Edit-Date;
    background: lightseagreen;
  }
  .quill {
    height: 100vh;
  }
  .Edit-Note-Section {
    grid-area: Edit-Note-Section;
    width: 100%;
    background: mediumspringgreen;
    font-size: 1.5rem;
  }
}

.Landing-Page {
  position: absolute;
  display: grid;
  place-items: center;
  background: linear-gradient(
    120deg,
    hsl(0, 0%, 0%) 0%,
    hsl(209, 94%, 48%) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.Login {
  display: flex;
  width: 75%;
  background: white;
  .image {
    display: none;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("./Image_Source/Note.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    padding: 3em;
    justify-content: center;
    p {
      color: white;
      font-weight: 600;
      font-size: 3rem;
    }
  }
  form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    .Provider-SignIn {
      margin-top: auto;
      margin-bottom: auto;
      button {
        font-size: 1.5rem;
      }
    }
    label {
      font-size: 1rem;
    }
    input {
      border: none;
      margin: 0.5em 0;
      border-radius: 10px;
      outline: none;
      padding: 1em;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: all 0.35s ease;
      &:hover {
        box-shadow: rgba(0, 36, 102, 0.55) 0px 5px 15px;
      }
    }
  }
}

@media (min-width: 800px) {
  .Container {
    //Mobile First
    grid-template-columns: 45% 55%;
    .Preview-container {
      display: grid;
    }
  }
  .Landing-Page {
    .Login {
      .image {
        display: flex;
      }
    }
  }
}
