@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Oswald&display=swap");

:root {
  --title-font: "Oswald", sans-serif;
  --content-font: "Open Sans", sans-serif;
}
@mixin prestyle-btn($borderinput: none, $backgroundClr: transparent) {
  border: $borderinput;
  background: $backgroundClr;
  outline: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
  font-size: 62.5%;
  background: rgb(17, 44, 69);
  background: linear-gradient(
    120deg,
    rgba(17, 44, 69, 1) 0%,
    rgba(73, 139, 201, 1) 100%
  );
}
::-webkit-scrollbar {
  display: none;
}
.App {
  height: 100vh;
  background: linear-gradient(180deg, #071136 0%, rgba(7, 17, 54, 0) 100%);
}
.HideApp {
  display: none;
}
.Sidebar {
  padding: 1em;
  width: 60%;
  max-width: 15rem;
  left: -150%;
  height: 92%;
  position: fixed;
  background: lightsteelblue;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
  .User-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: seagreen;
    padding: 1em;
    a {
      img {
        border-radius: 50%;
        margin: 1.5em;
      }
    }
    h1 {
      margin: 0.25em;
      font-size: clamp(0.5rem, calc(0.5rem + 1.5vw), 1rem);
    }
  }
  button {
    @include prestyle-btn(5px solid transparent, none);
    margin: 1em;
    font-size: clamp(1.5rem, calc(0.5rem + 2vw), 1.7rem);
    padding: 0 1em;
    transition: all ease 0.35s;
    &:hover {
      border-left: 5px solid blue;
    }
  }
  .hey {
    margin-top: auto;
  }
  button:last-child {
    margin-top: auto;
  }
}

.SideBarDisplay {
  left: 0;
}

.Navbar {
  z-index: 100;
  width: 100%;
  background: black;
  padding: 10px;
  -webkit-box-shadow: 0px 9px 15px 8px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 9px 15px 8px rgba(0, 0, 0, 0.51);
  display: flex;
  justify-content: space-between;
  button {
    font-size: 2.5rem;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.2em;
    transform: scaleY(0.9);
    transition: all 0.25s ease;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.356);
    }
  }
}

.Container {
  width: 100;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100% 0fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0% 0%;
  grid-template-areas:
    "Searchbar Preview-container"
    "NoteList Preview-container";
  width: 100%;
  height: 100%;
}
.Preview-container {
  display: none;
  grid-area: Preview-container;
  background: lightgreen;
  padding: 1em;
}
.Searchbar {
  background: lightpink;
  grid-area: Searchbar;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  input {
    font-size: 1.5rem;
    padding: 0.25em 0.5em;
    outline: none;
    width: clamp(30%, 50%, 50%);
    transition: all 0.35s ease;
    &:focus {
      width: 65%;
    }
  }
  button,
  svg {
    font-size: 2rem;
    background: none;
    outline: none;
    border: none;
    color: white;
    margin: 0 0.5em;
  }
  button {
    margin: 0 0.1em;
    cursor: pointer;
    padding-top: 0.1em;
    svg:hover {
      color: #066bc9;
    }
  }
}
.NoteList {
  grid-area: NoteList;
  background: lightgoldenrodyellow;
  width: 100%;
}
.Noteitem {
  padding: 2em;
  margin: 2em;
  background: #066bc9;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  transition: all 0.3s ease;
  h1,
  h2 {
    font-family: sans-serif;
    color: white;
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    max-height: 50px;
    overflow: hidden;
    color: white;
    font-size: 1rem;
  }
  &:hover {
    background: #097eeb;
  }
}

.Noteitem div {
  flex: 2;
}
.Noteitem h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.View {
  width: 100%;
  height: 100vh;
  transition: all 1s ease;
  position: fixed;
  z-index: 200;
  top: 50%;
  right: 50%;
  transform: translate(150%, -50%);
  background: lightgrey;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  gap: 0% 0%;
  grid-template-areas:
    "ViewNavBar ViewNavBar"
    "Edit-Section Edit-Section";

  .Edit-Section {
    background: lightyellow;
    grid-area: Edit-Section;
  }
  .Edit-tool {
    //TODO Edit Tool change it to fixed when ((Edit mode ))
    background: lightskyblue;
    position: fixed;
    bottom: 0%;
    width: 100%;
    button {
      border: none;
      outline: none;
      background: lightseagreen;
      padding: 1em;
      margin: 1em;
    }
  }
}
.slideshow {
  right: 150%;
}
.ViewNavBar {
  background: peru;
  grid-area: ViewNavBar;
}

.Edit-NoteView {
  grid-area: Edit-NoteView;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 10% auto;
  gap: 0% 0%;
  grid-template-areas:
    "Edit-title Edit-Date"
    "Edit-Note-Section Edit-Note-Section";
  height: 100%;

  textarea {
    outline: none;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
  }
  .Edit-title,
  .Edit-Date {
    outline: none;
    font-size: calc(1rem + 1vw);
    padding: 0 calc(0.5em + 1vw);
  }
  .Edit-title {
    grid-area: Edit-title;
    background: lightcoral;
  }
  .Edit-Date {
    grid-area: Edit-Date;
    background: lightseagreen;
  }
  .Edit-Note-Section {
    grid-area: Edit-Note-Section;
    background: mediumspringgreen;
    padding: 1em;
    font-size: 1.5rem;
  }
}
.ViewNavBar button {
  background: transparent;
  border: none;
  margin: 1rem;
  font-size: 2.5rem;
  color: white;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.ViewNavBar button:hover {
  background: rgba(255, 255, 255, 0.404);
}

.Landing-Page {
  position: absolute;
  display: grid;
  place-items: center;
  background: linear-gradient(
    120deg,
    hsl(0, 0%, 0%) 0%,
    hsl(209, 94%, 48%) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.Login {
  display: flex;
  width: 75%;
  background: white;
  .image {
    display: none;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("./Image_Source/Note.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    padding: 3em;
    justify-content: center;
    p {
      color: white;
      font-weight: 600;
      font-size: 3rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    input {
      border: none;
      margin: 0.5em 0;
      border-radius: 10px;
      outline: none;
      padding: 1em;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: all 0.35s ease;
      &:hover {
        box-shadow: rgba(0, 36, 102, 0.55) 0px 5px 15px;
      }
    }
    .Provider-SignIn {
      padding: 1em;
      margin-top: 2em;
      display: flex;
      align-items: center;
      fieldset {
        border: none;
        border-top: 2px solid gray;
        width: 100%;
        legend {
          transform: translateY(-5px);
          font-size: 2rem;
          margin-left: auto;
          margin-right: auto;
          padding: 1em;
        }
      }
      h1 {
        font-size: 2rem;
      }
      button {
        margin: 0 0.5em;
        transform: translateY(5px);
        @include prestyle-btn(none, none);
        font-size: 2rem;
        &:hover {
          color: blue;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  .Container {
    //Mobile First
    grid-template-columns: 50% 50%;
    .Preview-container {
      display: grid;
    }
  }
  .Landing-Page {
    .Login {
      .image {
        display: flex;
      }
    }
  }
}
